[Desktop Entry]
Type=Action
Tooltip=Open with Citrus
Name=Open with Citrus
Profiles=profile-zero;
Icon=/home/citrus/.local/share/file-manager/actions/citrus.svg

Name[en_US]=Open with Citrus
Name[en]=Open with Citrus
Name[C]=Open with Citrus
Tooltip[en_US]=Open with Citrus
Tooltip[en]=Open with Citrus
Tooltip[C]=Open with Citrus
Icon[en_US]=/home/citrus/.local/share/file-manager/actions/citrus.svg
Icon[en]=/home/citrus/.local/share/file-manager/actions/citrus.svg
Icon[C]=/home/citrus/.local/share/file-manager/actions/citrus.svg
ToolbarLabel[en_US]=Open with Citrus
ToolbarLabel[en]=Open with Citrus
ToolbarLabel[C]=Open with Citrus
TargetLocation=true

[X-Action-Profile profile-zero]
MimeTypes=all/all;
Exec=/home/citrus/.local/share/bin/open_with_citrus.Rscript %f
Name=Open in Citrus


Name[en_US]=Open in Citrus
Name[en]=Open in Citrus
Name[C]=Open in Citrus
ExecutionMode=DisplayOutput
